<div>
<ion-breadcrumbs>
  <ion-breadcrumb><a routerLink="/home" routerLinkActive="active">Home</a></ion-breadcrumb>
  <ion-breadcrumb><a routerLink="/about" routerLinkActive="active">Scoring</a></ion-breadcrumb>
  <ion-breadcrumb><a routerLink="/statistics" routerLinkActive="active">Statistics</a></ion-breadcrumb>
  <ion-breadcrumb><a routerLink="/choice_operations" routerLinkActive="active">Clients</a></ion-breadcrumb>
  <ion-breadcrumb ><a routerLink="/ff" routerLinkActive="active">Historiq</a></ion-breadcrumb>
  <ion-breadcrumb><a routerLink="/vv" routerLinkActive="active">Settings</a></ion-breadcrumb>

</ion-breadcrumbs>

