

.card {
    width: 300px;
    
}


.card .image {
    background-image: url('../../assets/icons8-client-40.png');
    background-size: 200px 200px;
    width: 200px ;
    height: 200px;
}


.opeartions {
    margin: auto;
    
}