
<div class="opeartions">

<div class="image">
  <img src="../../assets/client-1295901_1920.png" width="350px" alt="">
</div>

<div class="content">
  <div class="card">
    <ion-icon name="person-add-outline"></ion-icon>
      <div class="">Add client</div>
  </div>
  <div class="card">
    <ion-icon name="create-outline"></ion-icon>
     <div class="">update client</div>
   </div>
   <div class="card">
    <ion-icon name="list-circle-outline"></ion-icon>
     <div class=""> All clients</div>
   </div>
   <div class="card">
    <ion-icon name="trash-outline"></ion-icon>
     <div class="">remove client</div>
   </div>
</div>


</div>