.bg {
    background-image: url('../assets/photo-1521459467264-802e2ef3141f.avif');
}
.state {
    position: relative;
    top: 40px;
    left: 1433px;
    width: 450px;
}

.logo {
    position: relative;
    top: 51px;
    left:85px ;
    width: 300px;
}
.links {
    position: relative;
    top: -20px;
    left: 620px;
    background-color: rgb(34, 33, 33);
    padding: 10px;
    border-radius: 10px;
}

.navBar {
    position: relative;
    top: 30px;
    left: 70px;
}


.parent {
    position: relative;
    bottom: 490px;
    left: 50px;
    width: 79%;
    background-color: bisque;
    margin: auto;
    height: 700px;
}