.bg {
    background-image: url('../assets/photo-1521459467264-802e2ef3141f.avif');
}
.state {
    position: relative;
    top: 40px;
    left: 1433px;
    width: 450px;
}

.logo {
    position: relative;
    top: 51px;
    left:85px ;
    width: 300px;
}
.links {
    position: relative;
    top: -20px;
    left: 620px;
    background-color: rgb(34, 33, 33);
    padding: 10px;
    border-radius: 10px;
}

.navBar {
    position: relative;
    top: 30px;
    left: 70px;
}


.parent {
    position: relative;
    bottom: 450px;
    left: 50px;
    width: 79%;
    background-color: rgb(236, 228, 218);
    margin: auto;
    height: 700px;
    border-radius: 25px;
}

.parent::before {
    content: '';
    width: 500px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(116, 116, 188);
    transform: rotate(45deg);
    bottom: 200px;
}